.contact{
    padding: 80px 0;
    .container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: "one one two two two ";
        align-items: center;
        gap: 40px;
        @media(width < 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: "two"
                                 "one";

        }

        form{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            grid-area: one;

            h3{
                font-family: $primary-font-light;
                font-size: 64px;
                color: $gray-lite;
                font-weight: 300;
                
            }

            input,textarea{
                background: $gray-lite-2;
                color: $gray-lite;
                border: none;
                outline: none;
                padding: 15px;
                font-family: $primary-font-regular;
                letter-spacing: 1px;
                width: 100%;
                resize: none;
            }
            input[type=submit]{
                background:$gray;
                color: white;
                max-width: 250px;
                padding: 25px;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 3px;
                margin-top: 40px;
                text-transform: uppercase;
                border: 2px solid $gray;
                transition: all 0.3s;
                cursor: pointer;

                &:hover{
                    color: $gray;
                    background: transparent;
                }

            
            }

        }

        img{
            // width: 100%;
            // height: 100%;
            // object-fit: cover;
            grid-area: two;

        }
    }

}