$primary-font-light: "Roboto", sans-serif;
$primary-font-regular: "Roboto", sans-serif;
$primary-font-medium: "Roboto", sans-serif;
$primary-font-semibold:"Roboto", sans-serif;
$primary-font-bold:"Roboto", sans-serif;
$primary-font-black:"Roboto", sans-serif;
$gray-lite:#BDBDBD;
$gray-lite-2: #F3F3F3;
$gray:#333333;
$red:#FC5252;
$blue:#0071ce;
$white-lite: #f2f2f2;
$white-lite2: #fbfbfb;